{% extends "base.html" %}
{% block content %}

<p><a href="{{url_for('index')}}">(Index)</a></p>

<b>INFORMATION ON: {{pokemon_name}}</b>

<p>name: {{pokemon_info.name}}</p>
<p>height: {{pokemon_info.height}}</p>
<p>weight: {{pokemon_info.weight}}</p>
<p>base experience: {{pokemon_info.base_exp}}</p>

<p>abilities:</p>
{% for ability in pokemon_info.abilities %}
<ul>
    <li>
        <a href="{{url_for('pokemon_with_ability',ability_name=ability)}}">{{ability}}</a>
    </li>
</ul>
{% endfor %}

<p>moves:</p>
{% for move in pokemon_info.moves %}
<ul>
    <li>{{move}}</li>
</ul>
{% endfor %}

{% endblock %}