{% extends "header.html" %}
{% block content %}
{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}

{# class Song(object): 
    def __init__(self, lastfm_json):
        self.title = lastfm_json['name']
        self.artist = lastfm_json['artist']
        self.mbid = lastfm_json['mbid']
        self.num_listeners = lastfm_json['listeners']
        self.url = lastfm_json['url'] #}

<div class="container-fluid">
    {% for result in results %}
    <div class="media">
        <div class="media-body">
        <h5 class="mt-0">
            {# TODO : redirect to song info (comments, rating you gave it) #}
            <a href="{{ url_for('songs.index') }}">{{ result.title }}</a> by {{ result.artist }}
        </h5>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}