{% extends "header.html" %}
{% block content %}

{% if error_msg %}
<b>{{ error_msg }}</b>
{% endif %}

{% if song_info %}

    {# Display card for the movie details #}
    <div class="row">
    <div class="col">
        <div class="card text-center">
        <div class="card-header">
            {{ song_info.name }} by {{ song_info.artist }}
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Artist:</b> {{ song_info.artist }}</li>
            {% if song_info.album_title %}
                <li class="list-group-item"><b>Album:</b> {{ song_info.album_title }}</li>
            {% endif %}
            {% if song_info.listeners %}
                <li class="list-group-item"><b>Listener count:</b> {{ song_info.listeners }}</li>
            {% endif %}
            {% if song_info.playcount %}
                <li class="list-group-item"><b>Stream count:</b> {{ song_info.playcount }}</li>
            {% endif %}
            </ul>
        </div>
        </div>
    </div>
    </div>


{% endif %}
{% endblock content %}