{% extends "header.html" %}
{% block content %}

{% if error_msg %}
<b>{{ error_msg }}</b>
{% endif %}

<div class="col" style="text-align: center; padding-top: 80;">
    <h1>
        Add a song to the database!
    </h1>
</div>
{% if current_user.is_authenticated %}
{# --------------- New song submission form --------------- #}
<div class="row">
  <div class="col">
    <form method="POST" action="">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.song_title.label }}
        {{ form.song_title(class="form-control") }}

        {% if form.song_title.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in form.song_title.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}

        {{ form.song_artist.label }}
        {{ form.song_artist(class="form-control") }}

        {% if form.song_artist.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in form.song_artist.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}

      </div>
      {{ form.submit() }}
    </form>
  </div>
</div>
{% if email_sent %}
<div class="row">
    Email sent to {{ user_email }}!
</div>
{% endif %}
{% endif %}

{% endblock content %}